*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navegação-principal{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    box-shadow: 0 2px 7px rgb(79, 78, 78);
    background-color: rgb(51, 113, 149);
}

.navegação-principal ul{
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 35%;
}

.navegação-principal ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    font-weight: bold;
    padding: 18px;
    border-radius: 5%;
    transition: 0.6s ease;
}

.navegação-principal ul li a:hover{
    background-color: rgb(47, 94, 122);
    color: rgb(255, 255, 255);
    transform: scale(1.3);
}